*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
body{
	padding: 150px 0 0 150px;
	display: flex;
	flex-direction: row;
}
a{
	color: #fff;
	padding: 0 0 0 40px;
	display: block;
	background-color: #4682B4;
	line-height: 65px;
	border-radius: 10px;
}
.item{
	background-color: #75f;
	width: 195px;
	height: 65px;
	margin: 0 5px 5px 0;
	border-radius: 10px;
}
a:hover{
	background-color: #75f;
}
.bg{
	background-image: url(plus19.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 5% 50%;
}
.drop,.settings,.more,.deeper{
	position: relative;
}
.drop:hover .drop_menu{
	pointer-events: initial;
	opacity: 1;
	transform: translateY(-65px);
	transition: opacity 0.6s,transform 0.6s;
}
.drop_menu{
	display: flex;
	flex-direction: column;
	width: 195px;
	height: 260px;
	position: absolute;
	top: 135px;
	pointer-events: none;
	opacity: 0;
	transform: translateY(0);
	transition: opacity 0.6s,transform 0.6s;
}

.settings_menu,.more_menu,.deeper_menu{
	display: flex;
	flex-direction: column;
	width: 195px;
	height: 260px;
	position: absolute;
	top: 0px;
	left: 400px;
 	pointer-events: none;
 	opacity: 0;
 	transform: translateY(0);
 	transition: opacity 0.6s,transform 0.6s; 
}
.settings:hover .settings_menu,.more:hover .more_menu,.deeper:hover .deeper_menu{
	pointer-events: initial;
	opacity: 1;
	transform: translateX(-200px);
	transition: opacity 0.6s,transform 0.6s;
}